* {
    margin: 0;
    padding: 0;
}

.social-menu ul {
    text-decoration: none;
    justify-content: center;
    display: flex;
}

.social-menu ul li {
    list-style: none;
    margin: 0 8px;
}

.social-menu ul li .fa {
    font-size: 15px;
    line-height: 32px;
    transition: .6s;
    color: #000;
}

.social-menu ul li .fa:hover {
    color: rgb(187, 183, 183);
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(238, 245, 238);
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
}

.social-menu ul li a:hover {
    transform: translate(0, -10px);
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}

.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}

.social-menu ul li:nth-child(3) a:hover {
    background-color: #0077B5;
}

.social-menu ul li:nth-child(4) a:hover {
    background-color: #e44095;
}

.social-menu ul li:nth-child(5) a:hover {
    background-color: #d4072c;
}

.social-menu ul li:nth-child(6) a:hover {
    background-color: #1d1d1d;
}

.container {
    color: white;
    position: absolute;
    top: 5%;
    right: 40%;
}

.container h1 {
    font-family: 'Heebo', sans-serif;
    width: 50%;
    display: inline-block;
    font-size: 70px;
    border-bottom: 5px solid purple;
    margin-bottom: 15px;
    padding: 13px 0px;
}

.box {
    width: 50%;
    margin: 25px 0px;
    border-bottom: 2px solid rgb(18, 7, 225);
}

.box input {
    background: none;
    width: 80%;
    padding: 3px 7px;
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
}

.box i {
    width: 20px;
    text-align: center;
}

.btn {
    color: white;
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding: 10px 21px;
    border: 2px solid rgb(15, 128, 0);
    border-radius: 10px;
    font-size: 14px;
    background: none;
    font-weight: bold;
}

.btn:hover {
    opacity: 0.5;
    color: blue;
    background: white;
}